---
BasedOnStyle: GNU
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 100
AlignAfterOpenBracket: true
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: OverEmptyLines
---